pkgbase = nordlayer-bin
	pkgdesc = Proprietary VPN client for Linux
	pkgver = 3.3.1
	pkgrel = 4
	url = https://nordlayer.com
	install = nordlayer-bin.install
	arch = x86_64
	license = custom:commercial
	depends = bash
	depends = libgcrypt
	depends = libgpg-error
	depends = libcap
	depends = hicolor-icon-theme
	depends = gmp
	depends = strongswan
	conflicts = nordvpnteams-bin
	replaces = nordvpnteams-bin
	options = !strip
	options = !emptydirs
	source_x86_64 = https://downloads.nordlayer.com/linux/latest/debian/pool/main/nordlayer_3.3.1_amd64.deb
	sha512sums_x86_64 = 56054790a31894177b48837e9fb4dc95178b7f243f87a3a4bbab92729fc16387316df7cb1c21c58d852d2497eb75e9d124e09da0f116cf2b06841231b3823b14

pkgname = nordlayer-bin
